@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: LinkSansRegular;
  src: url('../public/fonts/link-sans/LinikSans-Regular.ttf');
}

@font-face {
  font-family: LinkSansMedium;
  src: url('../public/fonts/link-sans/LinikSans-Medium.ttf');
}

@font-face {
  font-family: LinkSansLight;
  src: url('../public/fonts/link-sans/LinikSans-Light.ttf');
}

@font-face {
  font-family: LinkSansBold;
  src: url('../public/fonts/link-sans/LinikSans-Bold.ttf');
}

@font-face {
  font-family: LinkSansBlack;
  src: url('../public/fonts/link-sans/LinikSans-Black.ttf');
}

@font-face {
  font-family: specialelite;
  src: url('../public/fonts/special-elite/SpecialElite-Regular.ttf');
}




@layer base {
  :root {

    --background: 0 0% 100%;

    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;

    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;

    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;

    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;

    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;

    --input: 240 5.9% 90%;

    --ring: 240 10% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem
  }
  .dark {

    --background: 240 10% 3.9%;

    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;

    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;

    --input: 240 3.7% 15.9%;

    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%
  }
  .base-link-btn {
    @apply relative w-full h-16 bg-white shadow-[10px_10px_0px_0px_rgba(0,0,0)] 
        hover:shadow-[5px_5px_0px_0px_rgba(0,0,0)] 
        hover:translate-x-[2px] hover:translate-y-[2px]
        text-black font-SpecialElite rounded-full 
        transition duration-200 text-lg sm:text-base flex items-center justify-center px-6 border-2 border-black
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-SpecialElite;
  }

}
